<footer class="footer">
  <div class="footer-menu">
    <p class="footer-menu__title"><span class="footer-menu__title-text">ДЛЯ КЛИЕНТОВ</span></p>
    <ul class="footer-menu__list">
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Купить карту</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Использовать Digift Card</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Универсальная карта Digift Card</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Благотворительность</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Поддержка</a></li>
    </ul>
  </div>
  <div class="footer-menu">
    <p class="footer-menu__title"><span class="footer-menu__title-text">ДЛЯ БИЗНЕСА</span></p>
    <ul class="footer-menu__list">
      <li class="footer-menu__item"><a class="footer-menu__link" href="processing.html">Процессинг и продажа карт</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="showcase.html">Витрина для программ лояльности</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="sales.html">Корпоративные продажи</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="partners.html">Партнеры</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="analytics.html">Аналитика</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Технологии</a></li>
    </ul>
  </div>
  <div class="footer-menu">
    <p class="footer-menu__title"><span class="footer-menu__title-text">О КОМПАНИИ</span></p>
    <ul class="footer-menu__list">
      <li class="footer-menu__item"><a class="footer-menu__link" href="about.html">Кто мы такие</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Отзывы</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="blog.html">Блог</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="contacts.html">Контакты</a></li>
    </ul>
  </div>
  <p class="phone-title">ТЕЛЕФОН</p>
  <a class="footer-phone" href="tel:88003330778">8 800 333 0778</a>
  <p class="footer-time">Ежедневно с 9:00 &mdash; 18:00</p>
  <div class="footer__logo-block">
    <span class="footer__logo"><img src="images/logo.svg" alt="Digift"></span>
    <a class="footer__social" href="#" target="_blank" title="facebook.com">
      <svg class="footer__social-icon" aria-hidden="true"><use xlink:href="#fb"/></svg>
      FaceBook
    </a>
  </div>
  <p class="footer__copyright">©2018 Digift &mdash; электронные подарочные сертификаты</p>
</footer>
