<header class="header header--white">
  <div class="header__inner">
    <button class="js-menu-opener menu-opener" type="button"><span></span></button>
    <a class="logo" href="main.html"><img width="103" height="52" src="images/logo.svg" alt="DIGIFT"></a>
    <a class="header__buy" href="#" title="Купить"><svg class="header__buy-icon" aria-hidden="true"><use xlink:href="#cart"/></svg></a>
  </div>
  <nav class="main-menu">
    <div class="main-menu__section">
      <p class="main-menu__section-title">Для клиентов</p>
      <a class="main-menu__link" href="#">Купить карту</a>
      <a class="main-menu__link" href="#">Использовать Digift Card</a>
      <a class="main-menu__link" href="#">Универсальная карта Digift Card</a>
      <a class="main-menu__link" href="#">Благотворительность</a>
      <a class="main-menu__link" href="#">Поддержка</a>
    </div>
    <div class="main-menu__section">
      <p class="main-menu__section-title">Для бизнеса</p>
      <a class="main-menu__link" href="processing.html">Процессинг и продажа карт</a>
      <a class="main-menu__link" href="showcase.html">Витрина для программ лояльности</a>
      <a class="main-menu__link" href="sales.html">Корпоративные продажи</a>
      <a class="main-menu__link" href="partners.html">Партнеры</a>
      <a class="main-menu__link" href="#">Аналитика</a>
      <a class="main-menu__link" href="#">Технологии</a>
    </div>
    <div class="main-menu__section">
      <p class="main-menu__section-title">О компании</p>
      <a class="main-menu__link" href="about.html">Кто мы такие</a>
      <a class="main-menu__link" href="#">Отзывы</a>
      <a class="main-menu__link" href="blog.html">Блог</a>
      <a class="main-menu__link" href="contacts.html">Контакты</a>
    </div>
  </nav>
</header>
