<div class="request">
  <div class="request__inner">
    <p class="request__title">Бесплатная<br> установка сервиса</p>
    <p class="request__text">Вы платите только комиссию с реализованных карт</p>
    <form action="/" method="get">
      <label class="label" for="name">
        <input id="name" class="js-input input" name="name" type="text" value="">
        <span class="label__placeholder">Ваше имя</span>
      </label>
      <label class="label" for="email">
        <input id="email" class="js-input input error" name="email" type="email" value="">
        <span class="label__placeholder">Email</span>
      </label>
      <label class="label" for="phone">
        <input id="phone" class="js-input input" name="phone" type="tel" value="">
        <span class="label__placeholder">Телефон</span>
      </label>
      <button class="request__button button" type="submit">Связаться с нами</button>
    </form>
  </div>
</div>
