.article
  background-color: #fff
  display: flex
  flex-flow: column
  min-height: 324px
  opacity: 1
  transition: opacity 0.3s
  text-decoration: none
  width: 276px

  &:hover,
  &:active
    opacity: 0.9

  &__image
    display: block
    min-height: 134px

  &__text
    display: block
    padding: 30px 24px

  &__tag
    color: rgba(30, 30, 30, 0.45)
    display: block
    font-size: 13px
    font-weight: 500
    letter-spacing: 1.5px
    margin-bottom: 12px

  &__preview-text
    display: block

.articles-list
  display: flex
  flex-wrap: wrap
  justify-content: center

  &__item
    max-width: 392px
    margin-bottom: 11px
    width: 100%

    @media(min-width: 600px)
      width: 50%

    @media(min-width: 1200px)
      padding-right: 6px
      padding-left: 6px
      width: 33.333%

    &:nth-child(even)
      @media(min-width: 600px)
        padding-left: 6px

    &:nth-child(odd)
      @media(min-width: 600px)
        padding-right: 6px

    &:last-child
      margin-bottom: 0

    &:nth-last-child(2)
      @media(min-width: 600px)
        margin-bottom: 0

  .article
    max-width: 392px
    width: 100%

    @media(min-width: 600px)
      height: 100%
