.block-1
  padding-bottom: 190px

  @media(min-height: 768px)
    padding-bottom: 224px

  @media(min-width: 1200px) and (min-height: 600px)
    padding-bottom: 166px !important

.block-2
  max-width: 1068px
  height: 76.5%
  max-height: 1196px
  margin-left: -50px

.block-3
  padding-bottom: 102px

  @media(min-height: 900px)
    padding-bottom: 9%

.block-4
  display: block
  height: 72%
  max-height: 687px
  max-width: 948px
  margin-top: 7.5%
  margin-left: -23.5%
  width: auto

.block-5
  display: flex
  flex-flow: column
  justify-content: space-between
  height: 77%
  padding-bottom: 64px

  @media(min-height: 768px)
    padding-bottom: 89px

  @media(min-height: 900px)
    padding-bottom: 99px

.block-6_1
  padding-top: 75px
  width: 43.5%

  @media(min-width: 1440px)
    width: 41.5%

.block-6_2
  background: url('../images/decor/block-6.png') no-repeat 0 136px transparent
  background-size: 1128px auto
  width: 56.5%

  @media(min-height: 650px)
    background-position: 0 176px

  @media(min-height: 768px)
    background-position: 0 219px

  @media(min-height: 900px)
    background-position: 0 202px

.block-6_1 + .block-6_2
  @media(min-width: 1440px)
    width: 58.5%

.block-7
  padding-bottom: 225px

.block-8
  display: block
  height: 58%
  max-height: 513px
  max-width: 373px
  margin-top: 10%
  max-width: initial
  width: auto

.block-9
  font-size: 16px
  line-height: 26.656px
  padding-bottom: 190px
  padding-top: 60px

  @media(min-height: 650px)
    font-size: 18px
    line-height: 30px

  @media(min-height: 768px)
    padding-bottom: 224px

  @media(min-width: 1200px) and (min-height: 600px)
    padding-bottom: 166px !important

.block-10
  overflow-y: hidden
  padding-bottom: 89px
  width: 68.08%

  @media(min-height: 900px)
    padding-bottom: 99px
