.section
  padding: 11px

  &:first-child
    padding-top: 76px

  &--grey
    background-image: linear-gradient(to top, rgba(225, 227, 230, 0.3), #e4e5e8)
    background-position: 0 0

  &--grey2
    background-image: linear-gradient(to top, rgba(225, 227, 230, 0.3), #ebecef)
    background-position: 0 0

  &--light_blue
    background-image: none
    background-color: #504bc3

  &--dark
    background-color: #2d2d34
    background-size: cover
    background-position: 0 100%
